body{
    margin: 0 auto;
}
.nav-block-small {
    background: #F5F5F5;
    height: 40px;
}

.nav-block-small-table{
    min-width: 345px;
    padding: 10px 0;
    margin-left: 70vw;
}

.small-table-item{
    padding: 0;
    margin: 0;
}

.small-table-item > a{
    color: #AAAAAA;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.block-logo{
    margin-left: 50px;
}

.nav-block-large{
    text-align: center;
}

.nav-block-large-table{
    min-width: 60%;
    margin-left: 14vw;
    font-family: 'Roboto', sans-serif;
}

.large-table-item{
    margin: 0;
}

.large-table-item > a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    line-height: 14.4px;
    font-family: 'Roboto', sans-serif;
}

.main-image-block{
    margin: 50px 55px 0 55px;
}

.main-image{
    width: 91vw;
}

.main-section-design{
    text-align: center;
    /*margin: 80px 120px 0 120px;*/
}

.main-section-design-table{
    margin: 80px 120px 0 120px;
    text-align: initial;
}

.main-section-design-content{
    font-size: 48px;
    line-height: 58px;
    color: #1A1A1A;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
}

#t-body-backing::before{
    content: '';
    display: block;
    height: 210px;
}

.main-section-design-content-additional{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #AAAAAA;
    font-family: 'Roboto', sans-serif;
}

.content-additional-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

.main-section-partners{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main-section-partners-table{
    width: 100%;
}

.main-section-partners::before{
    content: '';
    display: block;
    height: 212px;
}

.partners-table-title{
    line-height: 48px;
    font-size: 48px;
    color: #1A1A1A;
    margin: 0;
}

.partners-table-subtitle{
    font-size: 24px;
    line-height: 36px;
    color: #4A4A4A;
    margin: 0;
    padding: 27px 0;
}

#tbody-baking::before{
    content: '';
    display: block;
    height: 125px;
}

#tbody-baking::after{
    content: '';
    display: block;
    height: 190px;
}

.main-slider{
    text-align: center;
}

.img-slider{
    width: 100%;
}

.main-slider-title{
    font-size: 48px;
    line-height: 56px;
    font-family: 'Roboto', sans-serif;
    text-align: initial;
    padding: 83px 165px 0 165px;
    margin: 0;
}

.main-slider-subtitle{
    font-family: 'Roboto', sans-serif;
    text-align: initial;
    color: #46856E;
    font-size: 14px;
    line-height: 12px;
    padding: 23px 165px 0 165px;
    margin: 0;
}

.main-slider-table{
    width: 80%;
    margin: 60px 165px 60px 165px;
    text-align: left;
}

.main-slider-table-title{
    font-size: 24px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #1A1A1A;
}

.main-slider-table-subtitle{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #AAAAAA;
}

.foter-block{
    background-color: #2B2B2B;
    padding: 97px 40px 50px 175px;
}

.room-logo-footer{
    margin: 0;
}

.room-logo-footer::after{
    content: '';
    display: block;
    height: 60px;
}

.footer-block-table{
    width: 100%;
    text-align: left;
}

.footer-block-title, .footer-block-ul{
    font-size: 14px;
    line-height: 16.41px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.footer-block-ul{
    padding: 0;
}

.footer-block-ul > li {
    list-style-type: none;
}